VITE_CONTRACT_ADDRESS=0x5fA9FfA6cCf23fF2162FC19bAE0334e491BF325C
VITE_MAX_SUPPLY=1000
VITE_TICKET_PRICE_WEI=10000000000000000
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
DEPLOY_PRIVATE_KEY=0xYourPrivateKeyHere
